  <style>
  	a {
	    color: #82dc86;
	    text-decoration: none;
	}
	a:focus, a:hover {
	    color: #77ff7d;
	    text-decoration: underline;
	}
	.contact-option {
	    margin-right: 10px;
	    margin-bottom: 10px;
	    font-size: 20px;
	}
	hr{
		width:40%;
	}
	p{
		margin-top: 20px;
	}
  </style>
  <div class="container">
    <div class="row text-center">
      <h3>Reach out to me</h3>
      <span class="smalltxt">Product Development, UI/UX Consulting, Mobile and Web Interface Design</span>
    </div>
    <hr>
    <div class="row text-center">
      <div>You can reach out to me via following options <br>
      	<a class="contact-option" href="mailto:vamshi4001@gmail.com"><i class="fa fa-envelope-o"></i></a>
      	<a class="contact-option" rel="me" href="https://twitter.com/vamshi4001"><i class="fa fa-twitter"></i></a>
      	<a class="contact-option" rel="me" href="https://facebook.com/vamshi4001"><i class="fa fa-facebook"></i></a>
      	<a class="contact-option" rel="me" href="https://behance.net/vamshi4001"><i class="fa fa-behance"></i></a>
      	<a class="contact-option" rel="me" href="https://500px.com/vamshi4001"><i class="fa fa-500px"></i></a>
      	<a class="contact-option" rel="me" href="https://github.com/vamshi4001"><i class="fa fa-github"></i></a>
      	<a class="contact-option" rel="me" href="https://medium.com/@vvkr"><i class="fa fa-medium"></i></a>
      	<a class="contact-option" rel="me" href="https://linkedin.com/in/vamshi4001"><i class="fa fa-linkedin"></i></a>
      	<a class="contact-option" rel="me" href="https://producthunt.com/vamshi4001"><i class="fa fa-product-hunt"></i></a>
      	<p>and thoroughly enjoyed watching the journey of <a href="http://www.piedpiper.com/"><i class="fa fa-pied-piper"></i></a></p>      	
      </div>
    </div>            
  </div>